body
{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: wheat;

}


.slider-container
{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.img-container
{
    display: flex;
    transition: transform 0.4s ease-in-out;


}

.btn
{
    position: absolute;
    color: white;
    top: 50%;
    font-size: 30px;
    opacity: .5;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn.prev
{
    left: 15%;
}

.btn.next
{
    right: 15%;
}

.btn:hover{
    opacity: 1;
}